<div class="container-fluid">
    <div class="row" style="padding-top: 25px;"></div>
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <h2><span class="badge badge-secondary">Move user</span></h2>
                <form action="http://localhost:9090/index/" method="POST">
                    <input type="hidden" name="password" value="coresails4321">
                    <input type="hidden" name="cmd" value="mv">
                    <div class="form-group">
                        <label for="discord1">DiscordId</label>
                        <input type="text" class="form-control" id="discord1" aria-describedby="discordHelp1"
                               name="discordid" placeholder="discord id">
                        <small id="discordHelp1" class="form-text text-muted">We'll never share your info with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="chan">Channel Id</label>
                        <input type="text" class="form-control" id="chan" name="channelid" placeholder="Channelid">
                    </div>
                    <button type="submit" class="btn btn-dark">submit</button>
                </form>
            </div>
            <div class="col-sm">
                <div class="jumbotron">
                    <h1>Welcome to the DGL DiscordBot API</h1>
                    <p>If you don't know what you are doing here please leave as you do not have access. Sorry :/
                    </p>
                    <br/>
                    <hr class="seperator"/>
                    <h2><span class="badge badge-secondary">Add role to user</span></h2>
                    <form action="http://localhost:9090/index/" method="POST">
                        <input type="hidden" name="password" value="coresails4321">
                        <div class="form-group">
                            <label for="discord2">DiscordId</label>
                            <input type="text" class="form-control" id="discord2" aria-describedby="discordHelp1"
                                   name="discordid" placeholder="discord id">
                            <small id="discordHelp2" class="form-text text-muted">We'll never share your info with
                                anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="rol">Role Id</label>
                            <input type="text" class="form-control" id="rol" name="roleid" placeholder="roleid">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cmd" id="inlineRadio1" value="arole"
                                   required>
                            <label class="form-check-label" for="inlineRadio1">AddRole</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cmd" id="inlineRadio2" value="rrole"
                                   required>
                            <label class="form-check-label" for="inlineRadio2">RemoveRole</label>
                        </div>
                        <button type="submit" class="btn btn-dark">submit</button>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                <h2><span class="badge badge-secondary">Mesage user from bot</span></h2>
                <form action="http://localhost:9090/index/" method="POST">
                    <input type="hidden" name="password" value="coresails4321">
                    <input type="hidden" name="cmd" value="msg">

                    <div class="form-group">
                        <label for="discord">DiscordId</label>
                        <input type="text" class="form-control" id="discord" aria-describedby="discordHelp"
                               name="discordid" placeholder="discord id">
                        <small id="discordHelp" class="form-text text-muted">We'll never share your info with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="msg">Message</label>
                        <input type="text" class="form-control" id="msg" name="message" placeholder="Message">
                    </div>
                    <button type="submit" class="btn btn-dark">submit</button>
                </form>
                <br>
                <h2><span class="badge badge-secondary">Get Role Id's</span></h2>
                <form action="http://localhost:9090/index/" method="POST">
                    <input type="hidden" name="password" value="coresails4321">
                    <button type="submit" name="cmd" value="getroles" class="btn btn-info">Get Roles</button>
                </form>
            </div>
        </div>
    </div>

</div>